.menu h1{
    font-size: 2,3rem;
    color: var(--primary-color);
    }
    
    .menu ul{
    list-style: none;
    display: flex;
    } 
    
    .menu ul li a{ 
       display: block;
       padding: 0 5rem;
       font-size: 1.8rem;
       color: var(--primary-color);
       position: relative;
       transition: 1s;
       animation: text 1s;
    }
    
    .menu ul li a::after{
        content: '';
        position: absolute;
        bottom: -.5rem;/*bottom desrregulado*/
        left: 25%; /*left errada*/
        width: 0%;
        height: 0.2rem;
        background-color: crimson;
        transition: 300ms all ease-in-out;
    }
    
    .menu ul li a:hover::after{
        width: 50%; /*coisa a mais no :hover::after*/
    }
