:root{
    --primary-color: #0a1128;
    --white-color: #ffffff;
    --light-gray-color: #eeeeee;
    --gap: 3rem;

}

*{
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
}
/*
font-family: 'Montserrat', sans-serif
font-family: 'Open Sans', sans-serif;
SVG BACKGROUNDS
*/
html{
    font-size: 62.5%;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    color: var(--primary-color);

}
h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;

}
h1{
    font-size: 6rem;
    text-transform: uppercase;
}

h2{
    font-size: 5.5rem;
    color:var(--white-color);
    font-size: 5rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
        

}
h3{
    font-size: 5rem;
 
}
h4{
    font-size: 4.5rem;
 
}
h5{
    font-size: 4rem;
 
}
h6{
    font-size: 3.5rem;

}
a{
    text-decoration: none;
}


.main-bg{
    background-image: url(../img/confetti-doodles.svg);
    background-size: cover;
    background-position:center center;
    color: var(--white-color);
}
.white-bg{
background: var(--white-color);
}

.main-content{
    max-width: 120rem;
    margin: 0 auto;
    padding: var(--gap);
}
.section{
    min-height: 100vh;
}
.menu{
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 0.2rem solid var(--light-gray-color);

}
.menu-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu h1{
font-size: 2,3rem;
color: var(--primary-color);
}

.menu ul{
list-style: none;
display: flex;
} 
.intro-content{
    position: relative;
    /*top: -8rem;*/
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    min-height: 100vh;
}
.intro-text, .intro-image{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.intro-image img{
    max-width: 100%;
    height: auto;
}

.menu ul li a{ 
   display: block;
   padding: 0 5rem;
   font-size: 1.8rem;
   color: var(--primary-color);
   position: relative;
   transition: 1s;
   animation: text 1s;
}

.menu ul li a::after{
    content: '';
    position: absolute;
    bottom: -.5rem;/*bottom desrregulado*/
    left: 25%; 
    width: 0%;
    height: 0.2rem;
    background-color: crimson;
    transition: 300ms all ease-in-out;
}

.menu ul li a:hover::after{
    width: 50%; 
}
.menu-spacing{
    height: 18rem;
}
.main-content h1{
    color: var(--primary-color);
}
.white-bg .main-content p{
    color: var(--primary-color);
}
.top3-content{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    max-width: 80rem;
}
.top3-content p{
font-size: 2,7rem;
}

.grid-content{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    min-height: 100vh;
}
.grid-main{
    margin-top: 1rem;
}
.grid-description{
    margin-bottom: 8rem;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: grid-counter;
}
.grid h3{
font-size: 3rem;
position: relative;
padding-left: 5rem;
padding-bottom: 2rem;
} 
.grid h3::before{
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position: absolute;
    font-size: 8rem;
    font-style: italic;
    left: -2rem;
    top: -4rem;
    transform: rotate(5deg);
}
.gallery img{
    transition: all 300ms ease-in-out;
}
.gallery img:hover{
    transform: translate(-3%, 3%) scale(1.1) rotate(5deg);
}
.responsive{
    overflow: hidden;
    overflow-y: auto;
    
}
table{
    min-width: 40rem;
    color: var(--primary-color);
    width: 100%;
    border-collapse: collapse;

}
table caption{
    font-style: italic;
    font-size: 1.6rem;
    text-align: left;
    text-transform: uppercase;
  

}
table td, table th{
    white-space:nowrap;
    padding: 1rem;
    text-align: left;
    border: 0.1rem solid var(--light-gray-color);
}
tfoot td, table th{
    background: var(--light-gray-color);
}
.contact-form{
    grid-column: span 2;
    margin-top: 3rem;
}
.contact-form .from-grid{
display:flex;
flex-direction:row;
flex-wrap: wrap;
gap: var(--gap);
padding: 20px;
}
.form-group{
    flex: 1 1 320px;
}
.form-group input,
 textarea{
    border: none;
    background: var(--white-color);
    padding: 1.2rem 3.93rem;
    font-size: 2rem;
    border-radius: 10px;

}
.form-group label{
    display: block;
    margin-bottom: 0.2rem;

}
body .full-width{
    width: 100%;
    flex: 1 1 100%;
}
.from-grid legend{
    font-style: italic;
    font-size: 4rem;
    margin-bottom: 3rem;
}
.form-group button{
    border: 0.5rem solid var(--white-color);
    background: none;
    color: var(--white-color);
    padding: 1.5rem 2rem ;
    font-size: 3rem;
    cursor: pointer;
    transition: all 300ms ease-in-out ;
    border-radius: 10px;
}
.form-group button:hover{
    border: 0.5rem solid var(--primary-color);
    background:var(--white-color);
    color: var(--primary-color);

}
.form-group textarea{
    width: 100%;

}
#footer {
    color: var(--primary-color);
    text-align: center;
    padding: 3rem;
    font-size: 3rem;
}
.close-menu{
    display: none;
}
@media (max-width: 800px){
    .intro-content, .grid{
        grid-template-columns: 1fr;
    }
    .gallery{
        width: 100%;
        max-width: 100%;
        max-height: 100%;
    }
    .gallery img{
        width: 100%;
    }
    .grid-content{
        display: block;
    }
    .menu{
        bottom: 0;
        text-align: center;
        display: none;
    }
    .menu-content, .menu-content ul{
        flex-direction: column;
        justify-content: center;
        gap: 3rem;

    }
    .menu-content{
        height: 100vh;
    }
    .close-menu{
        position: fixed;
        z-index: 2;
        top:0;
        left:0;
    }
    .close-menu-label::after{
        content:'≡';
        position: fixed;
        z-index: 2;
        top:2rem;
        left:2rem;
        background: var(--primary-color);
        color: var(--white-color);
        font-size: 3rem;
        line-height: 3rem;
        width: 4rem;
        height: 4rem;
        text-align: center;
        cursor: pointer;
        padding: 1rem;
    }
    .close-menu:checked~.menu{
        display: block;
    }
    .close-menu:checked~ .close-menu-label::after{
        content: '×';
    }
    .menu.menu-spacing{
        display: none;
    }


}
